body{font-size:20px; padding-top: 20px;}
    .field{display: inline-block; border: 1px solid #6cb4ff; margin:0 auto;}
    .cell{display: inline-block; border: 1px solid #6cb4ff; width: 30px; height: 30px; vertical-align: top; overflow: hidden; text-indent:200%; cursor:pointer;}
    .green{background: green;}
    .yellow{background: yellow;}
    .winScreen{text-align: center; color:#228eff; padding-top: 20px; font-size: 40px; height: 120px; font-weight: 500; text-shadow: 2px 1px 1px #24588e; transition: 1s;}
    .button{width: 306px; margin: 10px auto; padding: 5px 10px; border-radius: 6px; background: #2e97ff; transition: 0.5s; cursor: pointer;
      animation-delay: .8s;}	
    .button:hover{background: #007eff;}
    .tac{text-align: center;}
